<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>NDC9 Fetcher</title>
  </head>
  <body>
  <form method="POST" action="<%= root_path %>/v1/isbn/bulk">
    <textarea name="isbn" rows="20" cols="50"></textarea>
    <input type="submit" value="送信"></input>
  </form>
  </body>
</html>
