<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>NDC9 Fetcher</title>
  </head>
  <body>
  <h1>NDC9 Fetcher - bulkモード</h1>
  <form method="POST" action="<%= root_path %>/v1/isbn/bulk">
    <p>以下の入力欄に1行ごとにISBNを入力し、「送信」ボタンを押してください。</p>
    <p><textarea name="isbn" rows="20" cols="50"></textarea></p>
    <input type="submit" value="送信"></input>
  </form>
  </body>
</html>
